.faq-accordion-block {
    border: 1px solid #E0E0E0;
    /* padding: 15px; */
    margin: 0px 0;
    border-radius: 3px;
}

.faq-question {
    font-weight: 600;
    margin: 0;
    cursor: pointer;
	color: #0f3562;	
	padding: 10px;
}

.faq-answer {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
	color: #0f3562;
}
.faq-answer-inner {
	padding: 10px;
}
.faq-accordion-block.open .faq-question {
    border-bottom: 1px solid #E0E0E0;
}

.faq-accordion-block {
    background-color: transparent	;
}

.faq-accordion-block.open {
    background-color: #f9f9f9;
}

.faq-accordion-block {
    margin-bottom: 10px;
}

.faq-accordion-block .components-base-control__field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.faq-accordion-block h3.faq-question::before {
    content: 'Question: ';
    color: #888;
    /* font-style: italic; */
}

.faq-accordion-block p.faq-answer::before {
    content: 'Answer: ';
    color: #888;
    /* font-style: italic; */
}
.faq-question-input,
.faq-answer-input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}